.app-background {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(200, 200, 200, 0.85);
  padding: 20px;
}

.app-container {
  width: 100%;
  max-width: 450px;
  padding: 20px;
  border-radius: 28px;
  /* background-color: #303645;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3); */
  backdrop-filter: blur(10px);
}